# Why does this file exist, and why not put this in `__main__`?
#
# You might be tempted to import things from `__main__` later,
# but that will cause problems: the code will get executed twice:
#
# - When you run `python -m {{ project_name }}` python will execute
#   `__main__.py` as a script. That means there won't be any
#   `{{ project_name }}.__main__` in `sys.modules`.
# - When you import `__main__` it will get executed again (as a module) because
#   there's no `{{ project_name }}.__main__` in `sys.modules`.

"""Module that contains the command line application."""

import argparse
from typing import List, Optional
from .utils.logs import logger


def get_parser() -> argparse.ArgumentParser:
    """
    Return the CLI argument parser.

    Returns:
        An argparse parser.
    """
    return argparse.ArgumentParser(prog="{{ project_name }}")


def main(args: Optional[List[str]] = None) -> int:
    """
    Run the main program.

    This function is executed when you type `{{ cli_name }}` or `python -m {{ project_name }}`.

    Arguments:
        args: Arguments passed from the command line.

    Returns:
        An exit code.
    """
    parser = get_parser()
    opts = parser.parse_args(args=args)
    logger.info(f"opts: {opts}")
    return 0

